@using System.Text.Json;
@using EconomyModellingEngine;
@using EconomyModellingEngine.Domain;
@using Microsoft.Extensions.Logging
@inject ILogger<EconomyModelPage> Logger

<EditForm Model="@economyModelInputs" OnSubmit="@HandleSubmit">
    <br />
    <div class="form-group">
        <label for="inputNumber">Number of people</label>
        <InputNumber id="inputNumber" @bind-Value="economyModelInputs.InputNumber" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label for="inputNumber2">Number of ticks</label>
        <InputNumber id="inputNumber2" @bind-Value="economyModelInputs.InputNumber2" class="form-control" />
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
    @if (_output != null)
    {
        <EconomyModel.Components.EconomyModelOutput _economyModelResults="@_output" />
    }
    @*<EconomyModel.Components.NecessaryAndLuxury NecessaryAndLuxuryField="@_output?.Output[0].PeopleResults[0].StockPileAtEnd" />*@
    @*<p>The result is: @JsonSerializer.Serialize(_output?.Output, Options)</p>*@
</EditForm>

@code {
    private JsonSerializerOptions Options = new()
        {
            WriteIndented = true,
        };
    private Data.EconomyModelInputs economyModelInputs = new();

    private EconomyModelOutput? _output;


    private void HandleSubmit()
    {
        //Logger.LogInformation("HandleSubmit called");

        _output = EconomyModellingEngine.EconomyModelApi.RunEconomyModelling(economyModelInputs);
    }
}