<p>Necessary: @NecessaryAndLuxuryField.Necessary</p>
<p>Luxury: @NecessaryAndLuxuryField.Luxury</p>
<br/>

@code {
    [EditorRequired]
    [Parameter]
    public EconomyModellingEngine.Domain.NecessaryAndLuxury NecessaryAndLuxuryField { get; set; }
}
